.red-circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: 10%;
  }
.green-circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: green;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: 10%;
  }
.purple-circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: purple;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: 10%;
  }
.blue-circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: blue;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: 10%;
  }
.pink-circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: pink;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: 10%;
  }
.yellow-circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: yellow;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: 10%;
  }
.brown-circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: brown;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: 10%;
  }
  .col h6 {
    display: inline-block;
    float: none;
    margin-bottom: 5px;
  }
  