.scrollableContent {
    height: 70vh;
    overflow-y: auto;
    padding: px;
  }
  
  .scrollableContent::-webkit-scrollbar {
    width: 5px;
  }
  
  .scrollableContent::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 15px;
  }
  
  .scrollableContent::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  